*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.flex-container-column {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}


/* HEADER CSS */

.top-bar{
    padding: 10px;
    background-color: #2a5ee8;
    
}

.head-container{
    background-color: #2a5ee8;
    margin: 0 auto;
    width: 80%;
    
}

.logo{
    flex-grow: 1;
    padding:20px 0px;
}

.menù{
    flex-grow: 3;
    padding: 10px;
}

.ul-flex {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-element {
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.login{
    flex-grow:1;
    text-align: end;
    padding: 10px;
}

.login-button{
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    padding: 15px;
    display: inline-block;
    font-size: 15px;
}

/* HERO */

.padding {
    padding: 100px 0px;
}

.hero-padding{
    padding: 130px 0px;
}

.herobg {
    background-color: #2a5ee8;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-content {
    width: 58%;
}

.hero-content h1 {
    color:#fff;
    text-align: center;
    padding:20px;
    font-size: 40px;
}

 .hero-content p {
     color: #fff;
     text-align: center;
     line-height: 35px;
 }

 .button-hero{
    padding: 30px 0px;
    
 }

 .fa-solid {
    margin-right: 5px;
 }

.mac-button{
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    padding:15px;
    margin-right: 10px;
}

.discord-button{
    text-decoration: none;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    padding: 15px;
    margin-left: 10px;
}

/* MAIN WITH 4 SECTIONS CSS */



/* SECTION IMG-TEXT, TEXT-IMG, IMG-TEXT */

.greybg{
    background-color: #f6f6f6;
}

.img{
    width: 60%;
}

.text{
    width: 40%;
}

.text h2{
 
    font-size: 58px;
    text-align: start;
    padding-bottom: 35px;
}

.text p{
    text-align: start;
    line-height: 30px;
}
/* SECTION BIG BOX */

.big-box{
   text-align: center;
}

.big-box h2{
    font-size: 40px;
    padding: 20px 0px;
}

.big-box p{
    line-height: 30px;
}

.big-box h3 {
    margin-top:60px;
    /* background-image: url(../img/stars.svg); */
    background-size: contain ;
    background-repeat: no-repeat;  
}

.button-container {
    padding: 30px 0px;
}

.purple-button{
    background-color: #7289da;
    color: #fff;
    display: inline-block;
}

/* SECTION FOOTER MENù */

.footer-bg{
    background-color: #23272a;
}

.footer-menù{
    width: 30%;
    height: 380px;
    line-height: 30px;
}

.italian{
  width: 28px;
  height: 18px;
  margin-right: 5px;
}

.footer-menù h2{
    color: #7187d6;
}

.language{
    color: #fff;
    margin: 20px 0px;
}

.fa-angle-down{
    font-size: 15px;
}

.fa-brands{
    margin:20px 0px;
    padding-right:20px;
    color: #fff
}

/* FOOTER COLUMN */
.footer-menù-columns{
    width: 70%;
    display: flex;
}

.column{ 
    width: 100%;
    margin-left: 100px;
}

.column ul{
    list-style: none;
}

.column h4{
    color: #7187d6;
    font-size: 20px;
}

.column li{
    color: #fff;
    line-height: 35px;
    font-size: 14px;
}


/* FOOTER */
footer{
    padding: 30px 0px;
    background-color: #23272a;
}

.footer-container{
    background-color: #23272a;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   
}

.logo2{
    margin: 10px 10px 10px 0px;   
}





